@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}

@layer utilities {
  .link-underline {
    @apply underline decoration-neutral-400 decoration-[1px] underline-offset-[3px] hover:decoration-neutral-600 transition-colors;
  }
}
